{% import 'macros/form.html' as form %}

{% asset 'ponderful/date_picker' %}
{% asset 'ponderful/date_picker_css' %}

{% asset 'ponderful/form_css' %}

<!-- Visibility -->
<div style="border:1px solid lightgray; border-radius:5px; background-color:#2daae1; color:white; text-align:left; padding:1px 1px 1px 10px;">
  <span style="font-weight: bold">Visibility</span>
</div>
<div style="padding: 10px 0px 0px 10px">
{% block package_basic_fields_visibility %}
  {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
  {% set dataset_has_organization = data.owner_org or data.group_id %}
  {% set organizations_available = h.organizations_available('create_dataset') %}
  {% set user_is_sysadmin = h.check_access('sysadmin') %}
  {% set show_organizations_selector = organizations_available %}
  {% set show_visibility_selector = dataset_has_organization or (organizations_available and (user_is_sysadmin or dataset_is_draft)) %}

  {% if show_visibility_selector %}
    {% block package_metadata_fields_visibility %}
      <div class="form-group">
        <label for="field-private" class="form-label">{{ _('Visibility') }}</label>
        <div class="controls">
          <select id="field-private" name="private">
            {% for option in [('True', _('Private')), ('False', _('Public'))] %}
              <option value="{{ option[0] }}" {% if option[0] == data.private|trim %}selected="selected"{% endif %}>{{ option[1] }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    {% endblock %}
  {% endif %}

  {% if data.id and h.check_access('package_delete', {'id': data.id}) and data.state != 'active' %}
    <div class="form-group">
      <label for="field-state" class="form-label">{{ _('State') }}</label>
      <div class="controls">
        <select id="field-state" name="state">
          <option value="active" {% if data.get('state', 'none') == 'active' %} selected="selected" {% endif %}>{{ _('Active') }}</option>
          <option value="deleted" {% if data.get('state', 'none') == 'deleted' %} selected="selected" {% endif %}>{{ _('Deleted') }}</option>
        </select>
      </div>
    </div>
  {% endif %}
{% endblock %}
</div>

<!-- Metadata - Contact point -->
<div style="border:1px solid lightgray; border-radius:5px; background-color:#2daae1; color:white; text-align:left; padding:1px 1px 1px 10px;">
  <span style="font-weight: bold">PONDERFUL contact point</span>
</div>
<div style="padding: 10px 0px 0px 10px">
{% block package_basic_fields_org %}
  {# if we have a default group then this wants remembering #}
  {% if data.group_id %}
    <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
  {% endif %}

  {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
  {% set dataset_has_organization = data.owner_org or data.group_id %}
  {% set organizations_available = h.organizations_available('create_dataset') %}
  {% set user_is_sysadmin = h.check_access('sysadmin') %}
  {% set show_organizations_selector = organizations_available %}
  {% set show_visibility_selector = dataset_has_organization or (organizations_available and (user_is_sysadmin or dataset_is_draft)) %}

  {% if show_organizations_selector %}
   {% set selected_org_id = h.get_selected_organisation(data, organizations_available) %}
   <div class="form-group">
      <label for="field-organizations" class="form-label">{{ _('Organisation') }}</label>
      <div class="controls">
        <select id="field-organizations" name="owner_org" data-module="autocomplete">
          {% if h.check_config_permission('create_unowned_dataset') %}
             <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('No organisation') }}</option>
          {% endif %}
          {% for organization in organizations_available %}
            {# get out first org from users list only if there is not an existing org #}
            {% set selected_org = (organization.id == selected_org_id) %}
            <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ organization.display_name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endif %}
{% endblock %}

{{ form.input('md_email_address', label=_('E-mail'), id='field-md_email_address', placeholder=_('Add email address'), value=data.md_email_address, error=errors.md_email_address, classes=['control-medium']) }}
{#{ form.input('md_metadata_date', label=_('Metadata date'), id='field-md_metadata_date', placeholder=_('Date (YYYY-MM-DD)'), value=data.md_metadata_date, error=errors.md_metadata_date, classes=['control-medium']) }#}
{{ form.hidden(name='md_language', value='Eng') }}
</div>


<!-- Responsible organisation(s) -->
{% asset 'ponderful/responsible_orgs' %}
<div style="border:1px solid lightgray; border-radius:5px; background-color:#2daae1; color:white; text-align:left; padding:1px 1px 1px 10px;">
  <span style="font-weight: bold">Responsible organisations for this dataset</span>
</div>
<input type='hidden' name='md_responsible_organisations' id='field-md_responsible_organisations' value="{{data.md_responsible_organisations}}"
       data-module="responsible_organisations" />
{% for n in range(1,6) %}
  {% if n == 1 %}
    <div id="responsible_organisation{{n}}" style="padding: 10px 0px 0px 10px; display: block">
  {% else %}
    <div id="responsible_organisation{{n}}" style="padding: 10px 0px 0px 10px; display: none">
  {% endif %}
        <div style="float: right">
          {% if n == 1 %}
            <button id="responsible_organisation1_add" class="btn btn-primary" type="button" style="display: block"
                    onClick="addOrganisation()")><i class="fa fa-plus"></i></button>
          {% else %}
            <button id="responsible_organisation{{n}}_remove" class="btn btn-danger" type="button" style="display: block"
                    onClick="removeOrganisation({{n}});")><i class="fa fa-minus"></i></button>
          {% endif %}
        </div>

      <div class="form-group">
        <div>
          {{ form.input('md_responsible_party_name[]', label=_('Organisation'), placeholder='',
             value=data.md_responsible_party_name, error=errors.md_responsible_party_name,
             attrs={'data-module':'responsible_organisations_change', 'class': 'form-control'}) }}
        </div>
     </div>

      <div class="form-group">
        <div>
          {{ form.input('md_responsible_party_email[]', label=_('E-mail'), placeholder='',
             value=data.md_responsible_party_email, error=errors.md_responsible_party_email,
             attrs={'data-module':'responsible_organisations_change', 'class': 'form-control'}) }}
        </div>
      </div>

      <div class="form-group">
        <div>
          <label class="form-label" for="field-md_responsible_party_role">{{ _("Role") }}</label>
          <div class="controls" data-module="responsible_organisations_change">
            <select name="md_responsible_party_role[]" data-module="autocomplete">
              {% for md_responsible_party_role in h.md_responsible_party_roles()  %}
                <option value="{{ md_responsible_party_role }}"
                  {% if md_responsible_party_role in data.get('md_responsible_party_role', []) %}selected="selected"{% endif %}>
                  {{ md_responsible_party_role }}
                </option>
              {% endfor %}
            </select>
          </div>
          <span class="info-block">
            <i class="fa fa-info-circle"></i>
            {{ _('Who owns, distibutes, is a custodian, etc. of this dataset. If unsure of the role, use \'Point of Contact\'') }}
          </span>
        </div>
      </div>

    </div>
{% endfor %}


<!-- Title -->
<div style="border:1px solid lightgray; border-radius:5px; background-color:#2daae1; color:white; text-align:left; padding:1px 1px 1px 10px;">
  <span style="font-weight: bold">Title</span>
</div>
<div style="padding: 10px 0px 0px 10px">
  {% call form.input('title', id='field-title', label=_('Title'), placeholder=_('A descriptive title in English'), value=data.title, error=errors.title, classes=['control-full', 'control-medium'], attrs={'data-module': 'slug-preview-target', 'class': 'form-control'}, is_required=true) %}
  {% endcall %}

  <div class="form-group">
    <span class="info-block">
      <i class="fa fa-info-circle"></i>
        {{ _('Enter the title in English above. The URL field is automatically generated from this title.') }}
    </span>
  </div>
  {% block package_basic_fields_url %}
    {% set prefix = h.url_for('dataset.read', id='') %}
    {% set domain = h.url_for('dataset.read', id='', qualified=true) %}
    {% set domain = domain|replace("http://", "")|replace("https://", "") %}
    {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>'} %}
    {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-dataset'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}
  {% endblock %}

  <hr style="text-align:center; width:80%; margin-left: auto; margin-right:auto">

  {{ form.input('md_title_original', id='field-md_title_original', label=_('Original Title'), placeholder=_('A descriptive title in the original language if exists'), value=data.md_title_original, error=errors.md_title_original, classes=['control-full', 'control-medium']) }}
  <div class="form-group">
    <label class="form-label" for="field-md_locale_language">{{ _("Language") }}</label>
    <div class="controls">
      <select id="field-md_locale_language" name="md_locale_language" data-module="autocomplete">
        {% for i in h.get_md_locale_languages()  %}
          <option value="{{ i }}" {% if i in data.get('md_locale_language', []) %}selected="selected"{% endif %}>{{ i }}</option>
        {% endfor %}
      </select>
    </div>
    <span class="info-block">
      <i class="fa fa-info-circle"></i>
        {{ _('If exists, enter the original non-English title and select its language.') }}
    </span>
  </div>
</div>

<!-- Identification -->
<div style="border:1px solid lightgray; border-radius:5px; background-color:#2daae1; color:white; text-align:left; padding:1px 1px 1px 10px;">
  <span style="font-weight: bold">Identification</span>
</div>
<div style="padding: 10px 0px 0px 10px">
  {{ form.textarea('md_abstract', id='field-md_abstract', label=_('Abstract'), placeholder=_('Add a brief narrative summary of the content of the data'), value=data.md_abstract, error=errors.md_abstract) }}

  {{ form.input_datepicker('md_dataset_creation_date', label=_('Creation date'), id='field-md_dataset_creation_date', placeholder=_('YYYY-MM-DD'), value=data.md_dataset_creation_date, error=errors.md_dataset_creation_date, classes=['control-medium']) }}
  {{ form.input_datepicker('md_dataset_publication_date', label=_('Publication date'), id='field-md_dataset_publication_date', placeholder=_('YYYY-MM-DD'), value=data.md_dataset_publication_date, error=errors.md_dataset_publication_date, classes=['control-medium']) }}
  {{ form.input_datepicker('md_dataset_last_revision_date', label=_('Last revision date'), id='field-md_dataset_last_revision_date', placeholder=_('YYYY-MM-DD'), value=data.md_dataset_last_revision_date, error=errors.md_dataset_last_revision_date, classes=['control-medium']) }}

  {{ form.textarea('md_lineage', id='field-md_lineage', label=_('Lineage'), placeholder=_('This is a statement on process history and/or overall quality of the data. Where appropriate it may include a statement whether the data has been validated or quality assured, whether it is the official version (if multiple versions exist), and whether it has legal validity.'), value=data.md_lineage, error=errors.md_lineage) }}

  {% call
    form.textarea('md_related_publications', id='field-md_related_publications', label=_('Related Publications'), placeholder='', value=data.md_related_publications, error=errors.md_related_publications) %}
    <span class="info-block">
      <i class="fa fa-info-circle"></i>
      {{ _('Add reference to publication in Chicago Manual Style') }}
    </span>
  {% endcall %}

  {{ form.textarea('md_limitations_on_puclic_use', label=_('Limitations on public use'), id='field-md_limitations_on_puclic_use', placeholder='', value=data.md_limitations_on_puclic_use, error=errors.md_limitations_on_puclic_use) }}

  {% block package_basic_fields_license %}
    <div class="form-group">
    {% set error = errors.license_id %}
    <label class="form-label" for="field-license">{{ _("License") }}</label>
    <div class="controls">
      <select id="field-license" name="license_id" style="width:520px" data-module="autocomplete">
        {% set existing_license_id = data.get('license_id') %}
        {% for license_id, license_desc in h.license_options(existing_license_id) %}
          <option value="{{ license_id }}" {% if existing_license_id == license_id %}selected="selected"{% endif %}>{{ license_desc }}</option>
        {% endfor %}
      </select>
      {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
      <span class="info-block">
        <i class="fa fa-info-circle"></i>
        License definitions and additional information can be found
        <a target="_blank" href="/license">here</a>
      </span>
    </div>
  </div>
  {% endblock %}
</div>

<!-- Keywords -->
<div style="border:1px solid lightgray; border-radius:5px; background-color:#2daae1; color:white; text-align:left; padding:1px 1px 1px 10px;">
  <span style="font-weight: bold">Keywords</span>
</div>
<div style="padding: 10px 0px 0px 10px">
  {% call form.input('md_keywords', label=_('Free keywords'), id='field-md_keywords', placeholder='', value=data.md_keywords, error=errors.md_keywords, classes=['control-medium']) %}
    <span class="info-block">
      <i class="fa fa-info-circle"></i>
        {{ _('Free text (use a comma to separate keywords)') }}
    </span>
  {% endcall %}

  {{ form.input('md_keywords_vocab_title', label=_('Vocabulary title'), id='field-md_keywords_vocab_title', placeholder='', value=data.md_keywords_vocab_title, error=errors.md_keywords_vocab_title, classes=['control-medium']) }}
  {{ form.input_datepicker('md_keywords_vocab_date', label=_('Vocabulary date'), id='field-md_keywords_vocab_date', placeholder=_('YYYY-MM-DD'), value=data.md_keywords_vocab_date, error=errors.md_keywords_vocab_date, classes=['control-medium']) }}
  <div class="form-group">
    <label class="form-label" for="field-md_keywords_vocab_date_type">{{ _("Vocabulary date type") }}</label>
    <div class="controls">
      <select id="field-md_keywords_vocab_date_type" name="md_keywords_vocab_date_type" data-module="autocomplete" >
        {% for md_keywords_vocab_date_type in h.md_keywords_vocab_date_types()  %}
          <option value="{{ md_keywords_vocab_date_type }}" {% if md_keywords_vocab_date_type in data.get('md_keywords_vocab_date_type', []) %}selected="selected"{% endif %}>{{ md_keywords_vocab_date_type }}</option>
        {% endfor %}
      </select>
      <span class="info-block">
        <i class="fa fa-info-circle"></i>
          {{ _('If keywords orginate from a vocabulary, please enter vocabulary title and date') }}
      </span>
    </div>
  </div>
</div>

<!-- Classification -->
<div style="border:1px solid lightgray; border-radius:5px; background-color:#2daae1; color:white; text-align:left; padding:1px 1px 1px 10px;">
  <span style="font-weight: bold">Classification</span>
</div>
<div style="padding: 10px 0px 0px 10px">
  <div class="form-group">
    <label class="form-label" for="field-md_classification_code">{{ _("Topic category") }}</label>
    <div class="controls">
      <select id="field-md_classification_code" name="md_classification_code" data-module="autocomplete">
        {% for md_classification_code in h.md_classification_codes()  %}
          <option value="{{ md_classification_code }}" {% if md_classification_code in data.get('md_classification_code', []) %}selected="selected"{% endif %}>{{ md_classification_code }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="field-md_inspire_theme">{{ _("INSPIRE theme") }}</label>
    <div class="controls">
      <select id="field-md_inspire_theme" name="md_inspire_theme" data-module="autocomplete">
        {% for md_inspire_theme in h.md_inspire_themes()  %}
          <option value="{{ md_inspire_theme }}" {% if md_inspire_theme in data.get('md_inspire_theme', []) %}selected="selected"{% endif %}>{{ md_inspire_theme }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

<!-- Spatial Information -->
<div style="border:1px solid lightgray; border-radius:5px; background-color:#2daae1; color:white; text-align:left; padding:1px 1px 1px 10px;">
  <span style="font-weight: bold">Spatial Information</span>
</div>
<div style="padding: 10px 0px 0px 10px">
  <div class="form-group">
    <label class="form-label" for="field-md_resource_type">{{ _("Resource type") }}</label>
    <div class="controls">
      <select id="field-md_resource_type" name="md_resource_type" data-module="autocomplete">
        {% for md_resource_type in h.md_resource_types()  %}
          <option value="{{ md_resource_type }}" {% if md_resource_type in data.get('md_resource_type', []) %}selected="selected"{% endif %}>{{ md_resource_type }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="field-md_spatial_representation_type">{{ _("Spatial representation type") }}</label>
    <div class="controls">
      <select id="field-md_spatial_representation_type" name="md_spatial_representation_type" data-module="autocomplete">
        {% for md_spatial_representation_type in h.md_spatial_representation_types()  %}
          <option value="{{ md_spatial_representation_type }}" {% if md_spatial_representation_type in data.get('md_spatial_representation_type', []) %}selected="selected"{% endif %}>{{ md_spatial_representation_type }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="form-group">
    <label class="form-label" for="md_projections">{{ _("Projection") }}</label>
    <div class="controls">
      <select id="field-md_projections" name="md_projections"  style="width:400px" data-module="autocomplete">
        {% for md_projections in h.md_projections()  %}
          <option value="{{ md_projections }}" {% if md_projections in data.get('md_projections', []) %}selected="selected"{% endif %}>{{ md_projections }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>

<!-- Spatial extents section -->
{% asset 'ponderful/bounding_box' %}
<div style="border:1px solid lightgray; border-radius:5px; background-color:#2daae1; color:white; text-align:left; padding:1px 1px 1px 10px;">
  <span style="font-weight: bold">Spatial extents</span>
</div>
<div style="padding: 10px 0px 0px 10px">
  {% set attrs_text = {'data-module':'spatial_bbox_inputs', 'readonly': 'readonly'} %}
  <div class="form-group">
    <div class="controls">
     <select id="field-md_aquacross_case_study" name="md_aquacross_case_study" style="width:450px" data-module="case_study_list">
      </select>
      <span class="info-block">
        <i class="fa fa-info-circle"></i>
        {{ _('Select a predefined extent, or select a custom extent and enter in the fields below') }}
      </span>
    </div>
  </div>
  {{ form.input('md_bbox_north', label=_('North'), id='field-md_bbox_north', placeholder='', value=data.md_bbox_north, error=errors.md_bbox_north, classes=['control-medium'],attrs=attrs_text) }}
  {{ form.input('md_bbox_south', label=_('South'), id='field-md_bbox_south', placeholder='', value=data.md_bbox_south, error=errors.md_bbox_south, classes=['control-medium'],attrs=attrs_text) }}
  {{ form.input('md_bbox_east', label=_('East'), id='field-md_bbox_east', placeholder='', value=data.md_bbox_east, error=errors.md_bbox_east, classes=['control-medium'],attrs=attrs_text) }}
  {% call form.input('md_bbox_west', label=_('West'), id='field-md_bbox_west', placeholder='', value=data.md_bbox_west, error=errors.md_bbox_west, classes=['control-medium'],attrs=attrs_text) %}
    <span class="info-block">
      <i class="fa fa-info-circle"></i>
      {{ _('Geographic Lat/Lon Bounding Box') }}
    </span>
  {% endcall %}
</div>

<!-- Temporal extents section -->
<div style="border:1px solid lightgray; border-radius:5px; background-color:#2daae1; color:white; text-align:left; padding:1px 1px 1px 10px;">
  <span style="font-weight: bold">Temporal extents</span>
</div>
<div style="padding: 10px 0px 0px 10px">
  <div class="form-group">
      {{ form.input_datepicker('md_temporal_date', label=_('Individual date'), id='field-md_temporal_date', placeholder=_('YYYY-MM-DD'), value=data.md_temporal_date, error=errors.md_temporal_date, classes=['control-medium']) }}
      <div style="padding: 0px 0px 15px 200px">or</div>
      {{ form.input_datepicker('md_temporal_start_date', label=_('Start date'), id='field-md_temporal_start_date', placeholder=_('YYYY-MM-DD'), value=data.md_temporal_start_date, error=errors.md_temporal_start_date, classes=['control-medium']) }}
      {{ form.input_datepicker('md_temporal_end_date', label=_('End date'), id='field-md_temporal_end_date', placeholder=_('YYYY-MM-DD'), value=data.md_temporal_end_date, error=errors.md_temporal_end_date, classes=['control-medium']) }}
  </div>
</div>

{#% block package_basic_fields_tags %}
  {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} %}
  {{ form.input('tag_string', id='field-tags', label=_('Tags'), placeholder=_('eg. economy, mental health, government'), value=data.tag_string, error=errors.tags, attrs=tag_attrs) }}
{% endblock %#}
